.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-start;
  padding: 20px;
}

.footer {
  padding: 20px;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.layout {
  flex-grow: 1;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}
